:root{
    --primario:#000;

}
*{
    font-family: 'Comme', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-decoration: none; */
}

html{
    font-size: 62.5%; /*1 rem = 10px*/
    /* overflow-x: hidden; */
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .7rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--white);
    border-radius: 5rem;
}


.container{
    width: 90%;
    margin: 0 auto;
}




.game__tictactoe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.game-board{
    background: rgba(129, 192, 89, 0.769);
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.square{
    border: solid 1px #5ddd78;
    height: 30%;
    width: 30%;
    margin: 0.5rem;
    background-color: #3cb35f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    height: 90px; width: 90px;
    border-radius: 50%;
    border: 1.5rem solid black;
}

@media (max-width: 380px){
    .game-board{
        height: 22rem;
        width: 22rem;
    }
    .square{
        margin: 0;
    }
}